

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .thumb.first,
  .thumb {
    max-width: 600px;
  }
}

@media screen and (min-width: 900px) {
  .thumb.first,
  .thumb {
    max-width: 900px;
  }
}

@media screen and (min-width: 1140px) {
  .thumb.first,
  .thumb {
    max-width: 1140px;
  }
}

.thumb-picture {
  display: flex;
  justify-content: center;
}
